<footer>
    <h4>Contact Us</h4>
    <div class="socials">
        <a href=""><i class="fa-brands fa-facebook-f fa-xl"></i></a>
        <a href=""><i class="fa-brands fa-x-twitter fa-xl"></i></a>
        <a href=""><i class="fa-brands fa-instagram fa-xl"></i></a>
        <a href=""><i class="fa-regular fa-envelope fa-xl"></i></a>
       
    </div>
    <div> <span>&copy; <i class="fa-sharp fa-solid fa-building-columns"></i> cryptBank</span></div>

</footer>