<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptBank</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&family=Lato:wght@300&family=Libre+Baskerville:wght@700&family=Montserrat:wght@900&family=Single+Day&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <script src="https://kit.fontawesome.com/f71f7673d7.js" crossorigin="anonymous"></script>
    
</head>

<header>
    <div class="nav-bar">
        <div class="icon container">
            <i class="fa-sharp fa-solid fa-building-columns fa-flip" style="color: #fff;"></i>
            <a href="#"><span>Crypt<span style="text-decoration:underline ;">BANK</span></span></a> 
        </div>
        <div class="ham_menu">
            <span></span>
            <span></span>
            <span></span>

        </div>
        <ul class="ul_class container">
            <li><a href="#">Explore</a></li>
            <li><a href="#">Web3</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Learn</a></li>
            <li><a href="/auth/google">Sign-In</a></li>
        </ul>
    </div>
</header>

<body>
    <div class="main_background">