<%- include("partials/header.ejs") %>

    <div class=" flex_wrap">
        <div>
            <div class="maintext"> <p>Buy/Send or Save <br> Crypto for your finance for <br> Daily needs.</p> </div>
            <div class="smalltext"> <p>Get your account to start spending sending, <br> and saving in minutes</p> </div>
            <button class="landing-btn">
                <a href="/auth/google"><span><i class="fa-brands fa-google fa-lg" style="color: #e40c0c;"></i></span> &#160;Sign-Up with Google</a>
            </button>
        
        </div>

        <div class="flex_img">
            <img src="image/001234.png" alt="">
        </div>
    </div>


    <div >
        <h3>Crypto Live Price Updates</h3>
        <div class="crypt_session container">
            <div class="crypt_items btc">
                <i class="fa-brands fa-btc fa-beat-fade fa fa-2xl" ></i>
                <p class="cryp_p">BITCOIN</p>
                <p id="btc_price"></p>
                <button class="landing-btn">BUY/SELL</button>
    
            </div>
            <div class="crypt_items eth">
                <i class="fa-brands fa-ethereum fa-beat-fade fa fa-2xl"></i>
                <p class="cryp_p" >ETHEREUM</p>
                <p id="eth_price"> </p>
                <button class="landing-btn">BUY/SELL</button>
            </div>
            <div class="crypt_items usdt">
                <i class="fa-solid fa-dollar-sign fa-beat-fade fa fa-2xl"></i>
                <p class="cryp_p">US TETHER</p>
                <p id="usdt_price"></p>
                <button class="landing-btn">BUY/SELL</button>
            </div>
        </div>
       

    </div>

    <div class=" sub_session container ">
        <div>
            <img class="customer_img" src="image/customer service.avif" alt="">
            <h2>Our Team</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati aut, temporibus pariatur consectetur quaerat fuga 
                debitis voluptatum at illo magnam minus accusamus laborum tenetur dicta numquam consequuntur odio ipsa asperiores!</p>
        </div>
        <div>
            <img class="customer_img" src="image/team.JPG" alt="">
            <h2>Customer Service</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati aut, temporibus pariatur consectetur quaerat fuga 
                debitis voluptatum at illo magnam minus accusamus laborum tenetur dicta numquam consequuntur odio ipsa asperiores!</p>
        </div>
    </div>        
</body>
<%- include("partials/footer.ejs") %>

<script src="index.js"></script>

</html>