<%- include("partials/header.ejs") %>


<body class="body" >
    <div class="containerUser">
      <img class="bank_img" src="/image/Bank.jpg" alt="CryptBank" />
      <h1>Welcome  <strong><%= name %></strong></h1>
      <h1>Account Balance: $<span id="value"></span></h1>
      <div class  ="divider"></div>
      <form action="#">
        <input id="submit-btn" type="submit" value="Finalise Transaction" />
      </form>
    </div>
 
</body>




