:root {
    --primary-color: #060640;
    --seconary-color: #90a7b1;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background:#e9edf0; */
    font-family: 'Libre Baskerville', serif;
}
#btc_price, #eth_price{
    font-family: "Roboto", sans-serif;
    font-weight:bolder;
    font-size: larger;
}

button{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-top: 40px;
    background-color: var(--primary-color);
    width:130px;
    height:40px;
    border-radius: 5px;
    cursor:pointer;
    background-color: powderblue;
    border: none;
    /* font-family: 'Libre Baskerville', serif;
    opacity: 1; */
}
button a{
    color: white;
}

li{
    list-style: none;
    font-family: 'Ephesis', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Single Day', cursive;
    font-size: 20px;

}

a{
    color:var(--primary-color);
    text-decoration: none;
    font-weight: bolder;
    opacity: 1;
}
li:hover{
    /* font-weight: bolder; */
    transform: scale(0.98);
}

img{
    height: 300px;
    width: 300px;
}

h3{
    color:#fff;
    font-family: "Roboto", sans-serif;
    font-weight:bold;
    font-size: 2rem;
    line-height: 1.15;
    text-align: center;
    padding: 20px;
}

.container{
    margin: 0px 5%;
    /* padding: 50px; */
}

.flex_wrap{
    background-color: #ffffff;
    background-image: radial-gradient(#266f6f 0.55px, #ffffff 0.55px);
    background-size: 11px 11px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
    margin-bottom: 0px;
    padding: 50px 0px;
    height: 91vh;
}
.maintext {
    color:var(--primary-color);
    font-family: 'Ephesis', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Single Day', cursive;
    font-weight:700;
    font-size: 35px;
    margin:10px 0px;
    line-height: 1.15;
    text-align: left;
  }
  
  .smalltext {
    color:var(--secondary-color);
    font-family: "Roboto", sans-serif;
    font-weight:100;
    font-size: 14px;
    margin:30px 0px ;
    text-align: left;
  }
  .landing-btn {
    font-family: "Roboto", sans-serif;
    background-color: var(--primary-color);
    width:100%;
    height:50px;
    cursor:pointer;
    color: #fff;
    justify-content:center;
    align-items: center;
    font-size:12px;
    border-radius: 15px;
    font-weight:400;
    margin-top: 0px;
  }
.crypt_session{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}
.price_h3{
    font-family: 'Ephesis', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Single Day', cursive;
    }
.crypt_items{
    background-color: #ffffff;
    background-image: radial-gradient(#266f6f 0.55px, #ffffff 0.55px);
    background-size: 11px 11px;
    box-sizing: border-box;
    box-shadow: 7px -2px 29px -4px rgba(129, 222, 210, 0.33);
    -webkit-box-shadow: 7px -2px 29px -4px rgba(129, 222, 210, 0.33) ;
    border:1px  #266f6f;
    border-radius: 20px;
    padding: 50px;
    height: 70%;
    text-align: center;
}
.cryp_p{
    color: #266f6f;
    font-weight: bold;
    line-height: 2px;
    padding: 20px;
    margin: 20px 0px;
}


/* NAV BAR CLASS */
.nav-bar{
    background-color: #060640;
    border-bottom: 1px solid #fff;
    color:var(--primary-color);
    display: flex;
    font-family: "Roboto", sans-serif;
    justify-content: space-between;
    padding: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
    
}
.ham_menu{
    display: hidden;
}
.ul_class{
    display: flex;
    justify-content: right;
    gap: 2rem;
    /* margin-right: 50px; */
}
.ul_class a{
    color: #fff;
}

.icon{
    font: bolder;
    font-size: 30px;
    color: #060640;
}
.icon a{
    color: #fff;
}

/* Sub session */
.live_price{
    background-color: var(--primary-color);
    padding-bottom: 30px;
}
.sub_session{
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.sub_session h2{
    color:var(--primary-color);
    font-weight: bolder;
    font-size: larger;
    padding: 20px;
    margin: 10px;
}

.sub_session p{
    color: #060640;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 100;
    padding: 10px;
    line-height:1.5em;
}
.customer_img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

button:hover{
    transform: scale(0.98);
    /* opacity: 0.5; */
}

.socials{
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
}
.socials :hover{
    font-weight: bolder;
}
footer{
    background-color: rgb(243, 232, 232);
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    padding: 20px;
}








/* userpage */


.body {
    background-color: #060640;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}



h1,
h2 {
margin: 0;
}

h1 {
color: #266f6f;
font-size: 16px;
font-weight: 500;
margin-top: 10px;
}

h2 {
color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 500;
margin-bottom: 10px;
}

form {
margin: 0;
padding: 0;
width: 100%;
}

.divider {
width: 100px;
height: 3px;
margin: 20px auto;
background-color: #617BFF;
}

input,
textarea {
position: relative;
text-align: center;
display: block;
margin: 0;
border-radius: 7px;
border: 2px white solid;
background-color: white;
padding: 10px 20px;
width: 100%;
color: #1E1C29;
margin-bottom: 20px;
box-sizing: border-box;
transition: all 0.2s;
}

input:focus,
textarea:focus {
outline: none;
border: 2px #617BFF solid;
}

.bank_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.containerUser{
background-color: #fff ;
width: 300px;
margin: 0 auto;
border-radius: 14px;
padding: 30px 30px 20px 30px;
margin-top: 150px;
}

input[name="amount"] {
font-size: 20px;
font-weight: 600;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

#submit-btn {
display: block;
text-decoration: none;
border-radius: 7px;
margin-bottom: 10px;
cursor: pointer;
font-size: 20px;
font-weight: 600;
border: 2px #90a7b1 solid;
color: white;
 background-color: var(--primary-color);;
padding: 15px;
transition: all 0.2s;
}

#submit-btn:hover {
/* border: 2px #8095FF solid;
background-color: #8095FF; */
transform: scale(0.98);
}

#submit-btn:disabled {
border: 2px rgba(255, 255, 255, 0.1) solid;
background-color: rgba(255, 255, 255, 0.1);
}

textarea[name="address"] {
resize: none;
font-size: 16px;
font-weight: 600;
padding: 10px 2.7rem;
font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}


@media (max-width:500px) {
    .ul_class{
        background-color: var(--primary-color);
        flex-direction: column;
        padding: 100px 0px;
        position: absolute;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        top: 0;
        right: -500px;
        text-align: center;
        overflow: hidden;
        transition: .5s ease;
        z-index: 1000;
       
    }
    .ul_class.active{
        right: -20px;
    }
    .ham_menu{
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }
    .ham_menu span{
        background-color: #fff;
        display: block;
        height: 5px;
        width: 100%;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%) ;
        cursor: pointer;
        z-index: 200000;
        
    }
    .ham_menu span:nth-child(1){
        top: 25%;
    }
    .ham_menu span:nth-child(3){
        top: 75%;
    }
    .ham_menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        transition: .5s ease;
    }
    .ham_menu.active span:nth-child(2){
        opacity: 0;
    }
    .ham_menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
        transition: .5s ease;
    }
    .flex_wrap{
        flex-direction: column;
        height: 60vh;
        /* padding: 0px;
        text-align: center;
        justify-content: center;
        margin: 0px; */
        
    }
    .maintext{
        text-align: center;
        padding-top: 40px;
    }
    .smalltext{
        text-align: center;
    }
    .landing-btn{
        display: flex;
        flex-direction: column;
    }
    .flex_wrap button{
        margin: auto auto;
        width: 50%;
    }
   
    .flex_img{
        display: none;
    }
    .crypt_session{
        flex-direction: column;
        gap: 50px;
        
    }
    .crypt_items{
        box-shadow: rgb(255, 251, 251) 0px 2px 8px 0px;
        
    }
    .sub_session{
        flex-direction: column;
    }
}